form {
    margin: auto;
    width: 15%;
    height: 100%;
    border: 100px green;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    display: block;
}
label{
    color: white;
}
input[type=submit] {
    background-color:beige;
    color:red;
    margin: auto;
    width: 80px;
    text-align: center;
}
input[type=reset] {
    background-color:beige;
    color:red;
    margin: auto;
    width: 80px;
    text-align: center;
}
input[type=submit]:hover{
    background-color: blue;
    color: beige;
    cursor: pointer;
}
input[type=reset]:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
input{
    border-radius: 5px;
    width: 150px;
}
input:hover{
    border-color: blue;
}
body{
    background-image:url(Jellyfish.jpg);
}
label{
    display: block;
}
input[type=label]:required{
    content:"*";
}