form {
    width: 50%;
    height: 100%;
    border-width: 2px black;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    display: block;
    border: 100px green;
}
h2{
    text-align: center;
}
div {
    background-color: rgba(0, 238, 238, 0.507);
    color: white;
}
label{
    display: block;
}