body {
    margin: 0;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}
header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}
nav ul {
    overflow: hidden;
    list-style-type: none;
    background-color: burlywood;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 25px;
    
}
nav ul li {
    float: left;

}
nav ul li a {
    text-decoration: none;
    display: block;
    color: brown;
    padding: 0 5px;
}
nav ul li a:hover {
    background-color: antiquewhite;
    color: black;
}
article {
    float: left;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:antiquewhite;
}
nav .nav-active {
    background-color: antiquewhite;
    color: black;
    border: orangered 1px;
}
@media only screen and (max-width: 800px) {
    nav ul li {
      float:none;
      color: #FC466B;
    }
  }
 h4{
     color: white;
     margin: 15px;
     font-size: 35px;
 } 
p {
    margin: 10 10 10 10 px;
    text-overflow: none;
} 
pre{
    background-color: gray;
    width: 100%;
    text-align: left;
    text-overflow: none;
}