body {
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: beige;
}
header h1 {
    text-align: center;
    color: brown;
    font-size: 50px;
    
}
nav{
    width: 1240px;
    position: sticky;
    top: 0;
    padding: 5px 5px;
}
nav ul {
    overflow: hidden;
    list-style-type: none;
    background-color: brown;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 25px;
    
}
nav ul li {
    float: left;

}
nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0 5px;
}
nav ul li a:hover {
    background-color: antiquewhite;
    color: black;
}
article {
    width: 1200px;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:burlywood;
    color:white;
}
nav .nav-active {
    background-color: antiquewhite;
    color: black;
    border: orangered 1px;
}
@media only screen and (max-width: 800px) {
    nav ul li {
      float: none;
      color: #FC466B;
    }
  }
 h4{
     color: brown;
     margin: 15px;
     font-size: 35px;
 } 
p {
    margin: 10 10 10 10 px;
    text-overflow: none;
} 
pre{
    background-color:black;
    width: 100%;
    text-align: left;
    text-overflow: none;
    
}
footer{
    height: 50px;
    width: 100%;
    text-align: center;
    color: brown;
}
div{
    display: block;
    padding-top: 20px;
    color: brown;
    
}
textarea{
    height: 100px;
    width: 500px;
}
code {
    white-space: break-spaces;
    }
    .article {
    float: none;
    }
